/* Reset Browse */

* {
    margin: 0;
    padding: 0;
}


/* Reset Browse */

body {
    font-family: 'Prompt', sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    /* position: relative;
    margin: -8px; */
    /* text-align: center; */
    text-align: left;
}

p {
    font-family: 'Prompt', sans-serif;
    color: #000;
}


/* input info */

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-65 {
    float: left;
    width: 65%;
    margin-top: 6px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

table#profile {
    /* width: 100%; */
    margin-left: auto;
    margin-right: auto;
}

.budget {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
}

.budget,
th,
td,
tr {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    align-items: center;
    align-self: center;
    font-size: 18px;
}

.none-border {
    background: transparent;
    border: none;
    font-family: 'Prompt', sans-serif;
    outline: none;
    text-align: center;
}

.show-profile {
    width: 300;
    height: 300;
    border-radius: 5%;
    border: 2px solid #000000;
    /* margin-left: 150px; */
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    /* margin-left: 250px; */
}


/* label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    font-family: 'Prompt', sans-serif;
} */

label-inline {
    padding: 12px 12px 12px 0;
    display: inline-block;
    font-family: 'Prompt', sans-serif;
}

option {
    font-family: 'Prompt', sans-serif;
}

select {
    font-family: 'Prompt', sans-serif;
    font-size: 2%;
    padding: 0px 12px;
}


/* End input info */


/* input {

    margin-left: auto;
    margin-right: auto;
    background: transparent;
    border: none;
} */

.container {
    position: relative;
    /* margin: -8px; */
    text-align: center;
}

.information-container {
    /* margin-left: 10%; */
    margin-top: 30px;
}

.container-button {
    /* background-color: #000000; */
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 50px;
}

.grid-item {
    background-color: #fff;
    /* margin-left: 20%; */
    /* width: 794.6px; */
    text-align: left;
}

.grid-item-center {
    /* width: 80%; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.grid-center {
    background-color: #fff;
    /* margin-left: 20%; */
    /* width: 794.6px; */
    align-items: center;
    text-align: center;
}

.color-bar {
    background-color: #00766a;
    height: 60px;
    width: 100%;
    /* margin: -8px; */
    margin-top: 20px;
    justify-items: center;
    display: flex;
    align-items: center;
}

.color-small-bar {
    background-color: #00766a;
    height: 15px;
    width: 300%;
    /* margin: -8px; */
    margin-top: 20px;
    justify-items: center;
    display: flex;
    align-items: center;
}

.triangleBottom {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 7.5px 0 7.5px;
    border-color: #000000 transparent transparent transparent;
    line-height: 0px;
    margin-left: 15px;
}

.logo-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.logo {
    display: flex;
    align-items: center;
    margin-inline-start: 50px;
}

.profile-logo {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-inline-end: 100px;
}

.mini-logo {
    width: 80px;
    height: 80px;
}

.mini-logo-ku {
    width: 80px;
    height: 90px;
}

.profile {
    width: 80px;
    height: 80px;
    margin: 10px;
}

.img-resize {
    width: 794.6px;
    height: 650px;
    overflow: hidden;
    text-align: center;
}

.imgDisplay {
    width: 794.6px;
    height: auto;
}

.logoDisplay {
    margin-top: 50px;
    width: 150px;
    height: 180px;
}

.headline {
    font-family: 'Prompt', sans-serif;
    font-weight: bold;
    font-size: 38px;
    color: #014039;
    text-align: center;
    align-items: center;
    align-self: center;
    justify-content: center;
    margin: 5% 0px 0px 0px;
}

.error {
    width: auto;
    margin: 0px auto;
    padding: 0px auto;
    border: 1px solid #a94442;
    color: #a94442;
    background: #f2dede;
    border-radius: 5px;
    text-align: center;
}

.success {
    color: #3c763d;
    background: #dff9d8;
    border: 1px solid #3c763d;
    margin-bottom: 20px;
}

.textTitle {
    font-family: 'Prompt', sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #00766a;
    text-align: center;
}

h2 {
    margin-top: 1%;
    font-family: 'Prompt', sans-serif;
}

.subTitle {
    margin-left: -50%;
    margin-bottom: 1%;
}

.title {
    font-family: 'Prompt', sans-serif;
    font-weight: normal;
    font-size: 24px;
    color: #FFFFFF;
    margin-left: 20px;
}

.topic {
    font-family: 'Prompt', sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #000000;
    /* margin-left: 20%; */
    padding-top: 20px;
}

.detail {
    font-family: 'Prompt', sans-serif;
    font-weight: normal;
    font-size: 24px;
    color: #000000;
    /* margin-left: 20%; */
    padding-top: 20px;
    text-align: left;
}

.text {
    font-size: 18px;
    font-family: 'Prompt', sans-serif;
    color: #00766a;
}

label {
    font-family: 'Prompt', sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin-left: 30%;
    display: inline-block;
}

.inputFill {
    width: 484px;
    height: 71px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 64px;
    margin-bottom: 15px;
    font-size: 15px;
    text-align: center;
}

.inputFill-Information {
    margin-top: 20px;
    padding: 5px;
    font-size: 20px;
    text-align: center;
    align-items: baseline;
    width: 484px;
    height: 45px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 64px;
    align-self: center;
}

.inputFill-Information-large {
    margin-top: 20px;
    padding: 5px;
    font-size: 20px;
    text-align: center;
    align-items: baseline;
    width: 600px;
    height: 75px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 64px;
    align-self: center;
}

.inputFill-Information-Datepicker {
    margin-top: 20px;
    padding: 5px;
    font-size: 20px;
    text-align: center;
    align-items: baseline;
    width: 242px;
    height: 45px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 64px;
    align-self: center;
}

button {
    font-family: 'Prompt', sans-serif;
    cursor: pointer;
    position: relative;
    background: transparent;
    transition: all 0.25s ease;
    border: 1px solid #000000;
}

.add-drop-tableButton {
    width: 35px;
    height: 35px;
    border-radius: 64px;
    background: #00766a;
    border: 2px solid #000;
    box-sizing: border-box;
    cursor: pointer;
    justify-content: center;
    align-self: center;
    text-align: center;
    align-items: center;
    justify-content: center;
    justify-self: center;
    font-style: normal;
    font-size: 25px;
    font-weight: bold;
    color: #ffffff;
}

.summitButton {
    width: 300px;
    height: 71px;
    border-radius: 64px;
    background: #00766a;
    border: 2px solid #000;
    box-sizing: border-box;
    cursor: pointer;
    align-items: center;
    place-items: center;
    font-style: normal;
    font-size: 25px;
    font-weight: bold;
    color: #ffffff;
}

.backButton {
    width: 300px;
    height: 71px;
    border-radius: 64px;
    background: #a94442;
    border: 2px solid #000;
    box-sizing: border-box;
    cursor: pointer;
    align-items: center;
    place-items: center;
    font-style: normal;
    font-size: 25px;
    font-weight: bold;
    color: #ffffff;
}

.menuButton {
    transition: all 0.25s ease;
    width: 450px;
    height: 70px;
    border-radius: 64px;
    background: #E5E5E5;
    border: 1px solid #000000;
    align-items: center;
    justify-content: center;
    justify-self: center;
    font-style: normal;
    font-size: 25px;
    font-weight: bold;
    color: #000000;
    margin-top: 30px;
}

.menuButton:hover {
    transform: translate(-12px, -12px);
}

.menuButton2 {
    cursor: pointer;
    position: relative;
    transition: all 0.25s ease;
    font-family: 'Prompt', sans-serif;
    width: 450px;
    height: 70px;
    margin-left: -50%;
    border-radius: 64px;
    background: #E5E5E5;
    border: 1px solid #000000;
    align-items: center;
    justify-content: center;
    justify-self: center;
    font-style: normal;
    font-size: 25px;
    font-weight: bold;
    color: #000000;
}

.menuButton2:hover {
    transform: translate(-12px, -12px);
}